{% extends 'layout.html' %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h3> About Carted</h3>
    <p>
        Carted is an exclusive online shopping site created to deliver a
        <br> fresh online shopping experience. We always ensure our customers
        <br> feel just as comfortable online as they would be shopping in person.
        <br> Our customers come first, so make sure to let us know about any issues
        <br> using the contact page on the top right. Other than that, click shop
        <br> to add items to your cart, deals to see best deals on products, orders
        <br> to have a history of all of your Carted transactions and cart to view
        <br> your products or checkout. Don't forget, for every item purchased we
        <br> donate a percentage of profits to suport seals in the Artic.
        <br> Now let's get those items Carted!
    </p>
    <p>
        <img src="https://api.memegen.link/images/ams.jpg" width="500" height="500" alt="Seal">
    </p>
{% endblock %}