{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <!-- can adjust mb-# depending on the spacing you want-->
        <!-- mw auto adjusts the width, mx auto adjusts the position-->
        <div class="mb-3"><input autocomplete="off" type="text" class="form-control mx-auto w-auto" name ="username" placeholder="Username" ></div>
        <div class="mb-3"><input autocomplete="off" type="password" class="form-control mx-auto w-auto" name="password" placeholder="Password"></div>
        <button class="btn btn-light" type="submit">Submit</button>
    </form>
{% endblock %}