{% extends 'layout.html' %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <h3> Contact Us! </h3>
    <h6>
        Phone: (248)434-5508
        <br> Email: Contact@Carted.com
        <br> Or Feel Free to Reach Us Directly Below!
    </h6>
    <label for="go">Please Select a Catagory Below:</label>
    <form id="go" action="/contact" method= "post">
        <select name="option">
            <option value="order">Order Issues</option>
            <option value="checkout">Checkout</option>
            <option value="ship">Shipping</option>
            <option value="misc">Misc</option>
        </select>
        <br><br><textarea class="contsub" placeholder="Please Sumbit Your Complaint Below" name="issue" maxlength="1000"></textarea>
        <br><br><button class="btn btn-light" type="submit">Send</button>
    </form>
{% endblock %}